/* Logo Styles */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 200px; /* Adjust the width as needed */
    filter: drop-shadow(0 0 10px var(--accent-cyan));
}
